*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root{
    --light: #f0f0f0;
    --grey: #8d8c8a;
    --darkgrey: #4e4e4e;
    --semiblack: #333333;
    --point-color: #6c63ff;
    --point-color-sub: #4f49bd;


    --shadow-default: 0 0 8px -4px black ;
    --shadow-inset-default: inset 0 0 8px -4px black ;
    background-color: var(--light);
}

#root{
    display: flex;
    flex-grow: 1;
    height: 100%;
}
html{
    display: flex;
    flex-grow: 1;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
}

.app {
    display: flex;
    flex-grow: 1;
    height: 100%;
    width: 100%;
}

button i {
    margin-right: 8px; /* 아이콘과 텍스트 사이의 간격 */
}
